// 슬라이더 컨테이너 스타일
.sliderContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  // 슬라이더 래퍼
  .sliderWrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }

  // 슬라이더 트랙
  .sliderTrack {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-out;
    user-select: none;
  }

  // 슬라이드 아이템
  .slideItem {
    flex-shrink: 0;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .paginationDots {
    position: absolute;
  }
}
