.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 318px;
  height: 100%;
  background-color: transparent;

  .title {
    color: var(--text-primary);
    @include title-normal-medium;
  }

  .description {
    color: var(--text-secondary);
    @include label-small-medium;
  }
}
