@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 50%;
  width: 100%;
  min-width: 250px;
  max-width: 80%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  z-index: 1000;
  box-sizing: border-box;
}

.snackbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 330px;
  margin-bottom: 10px;
  padding: 14px 24px;
  border-radius: 30px;
  background-color: var(--surface-active);
  color: var(--text-absolute_white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s, fadeOut 0.3s 2.7s;
  opacity: 1;

  @include body-normal;
}

.message {
  margin-right: 10px;
}

.closeButton {
  padding: 0 5px;
  border: none;
  background: transparent;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

// 스낵바 타입별 스타일
.success {
  background-color: var(--surface-active);
}
