.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;

  @include body-normal;
  color: var(--text-secondary);

  cursor: pointer;

  &.fillGray {
    background-color: var(--surface-tertiary);
  }

  &.outlineGray {
    border: 1px solid var(--button-secondary_default);
    background-color: var(--white);
    @include body-normal-medium;
  }
}
