.container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .base {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--neutral-80);
    border-radius: 20px;
    @include body-normal;

    &.hide {
      padding: 0;
      border-style: none;
      border-radius: 0;
      color: transparent;

      &::placeholder {
        color: transparent;
      }
    }
  }

  .label {
    color: var(--text-primary);
    @include label-large-medium;
  }

  .description {
    margin-left: 14px;
    color: var(--text-secondary);
    @include label-xsmall-semibold;
  }

  .error {
    margin-left: 14px;
    color: var(--common-error);
    @include label-xsmall-medium;
  }
}
