.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  position: relative;
  width: 357px;
  height: 58px;
  margin: 0;
  border: 0 solid transparent;
  border-radius: 30px;
  @include button-large-semibold;
  text-align: center;
  cursor: pointer;

  &.full-width {
    width: 100%;
  }

  &:focus {
    outline: 0;
  }

  &.type-primary {
    color: var(--text-primary);
    background-color: var(--button-primary_default);

    &:hover,
    &:focus-visible {
      background-color: var(--button-primary_pressed);
    }
  }

  &.type-secondary {
    color: var(--text-primary);
    background-color: var(--button-secondary_default);

    &:hover,
    &:focus-visible {
      color: var(--text-secondary);
      background-color: var(--button-secondary_pressed);
    }
  }

  &.type-bottom_sheet {
    border-radius: 0;
    color: var(--text-primary);
    background-color: var(--button-primary_default);

    &:hover,
    &:focus-visible {
      background-color: var(--button-primary_pressed);
    }
  }

  &.type-small {
    &_primary {
      width: 100%;
      height: 28px;
      padding: 4px 12px;
      border-radius: 50px;
      @include button-small-medium;
      color: var(--text-primary);
      background-color: var(--button-primary_default);

      &:hover,
      &:focus-visible {
        background-color: var(--button-primary_pressed);
      }
    }

    &_secondary {
      width: 100%;
      height: 28px;
      padding: 4px 12px;
      border: 1px solid var(--button-secondary_default);
      border-radius: 50px;
      @include button-small-medium;
      color: var(--text-primary);
      background-color: var(--surface-primary);

      &:hover,
      &:focus-visible {
        background-color: var(--button-secondary_pressed);
      }
    }
  }

  &:disabled,
  &.disabled {
    color: var(--text-secondary);
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }

  .loading {
    .spinner {
      display: flex;
    }
  }
}
